<template>
  <v-app>

    <app-overlay @clearSelected="clearSelectedParent"></app-overlay>
    <app-toolbar></app-toolbar>
    
    <!--msg for errors when adding cities--->
    <v-content>
      <v-snackbar
        v-model="error"
        color="error"
        top=true>
        {{message}}
        <v-btn
          color="white"
          text
          @click="snackbar=false"> Close
        </v-btn>
      </v-snackbar>

      <!--card with carousel for showing the date-->
      <v-card
        elevation="0"
        max-width="600"
        class="mx-auto"
        padding-top="100px"
        
      >
        <v-carousel v-if="this.$weather.length != 0" v-model="selectedDay"
          :continuous="false"
          :show-arrows="false"
          hide-delimiter-background
          delimiter-icon="mdi-calendar-today"
          height="70"
          light
        >
          <v-carousel-item
            v-for="(slide, i) in getBigDate()"
            :key="i"
            class="mb-10"
          >
            <v-sheet
              height="100%"
              tile
            >
              <v-row
                align="center"
                justify="center"
              >
                <div class="display-1">{{slide}}</div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
      </v-card>

      <!--the main table with weather data-->
      <v-data-table v-if="this.$weather.length != 0"
        v-model="selectedCities"
        :headers="headers"
        :items=this.parseData()
        :single-select="false"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        item-key="city"
        show-select
        class="elevation-0"
        hide-default-footer= false
        @page-count="pageCount = $event"
      >

      <!-- template for adding new cities-->
      <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Daily forecast</v-toolbar-title>
        <v-divider
          class="mx-5"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn elevation="1" color="primary" class="mb-2" v-on="on">
              <v-icon class="pr-2">mdi-plus</v-icon>
              Add new city</v-btn>
          </template>
          <v-card>
            <v-card-title class="center">
            <v-img
              src="../static/city-b.jpg"
              width="50"
              height="300"></v-img>
            </v-card-title> 
            <v-card-text class="justify-center">
                     <v-autocomplete
                      v-model="addedCity"
                      :items="nameCity"
                      label="Enter city"
                      chips
                      deletable-chips= true
                      clearable= true
                      solo
                      extended= true
                      allow-overflow= false
                      prepend-icon="mdi-earth"
                  ></v-autocomplete>
                  <span><v-btn block primary 
                  color="green" icon @click="addCities()"><v-icon>mdi-plus</v-icon>
                  Add</v-btn></span>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-toolbar>
      </template>

      <!-- template for removing cities-->
      <template v-slot:item.remove="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="deleteItem(item)"
        >mdi-delete</v-icon>
      </template>

      <!--template for getting details-->
      <template v-slot:item.details="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="hourlyDetails(item)"
        >mdi-clock</v-icon>
      </template>
      </v-data-table>
    <div class="text-center pt-2">
      <v-pagination v-model="page" :length="pageCount"></v-pagination>
    </div>


    <v-row class="hidden-lg-and-up" align="center" justify="center">
      <v-card elevation="0">
        <v-card-text>
          <!--v-row align="center" justify="center"-->
            <v-btn-toggle v-model="options" >
                  <!--v-row rows="1" class="pl-12"-->
                  <v-col class="pb-2">
                  <v-tooltip bottom>
                  <template v-slot:activator="{on}">
                  <v-btn fab elevation="1" v-on="on">
                    <v-icon light large>mdi-thermometer-low</v-icon>
                  </v-btn>
                  </template>
                  <span>Temperature</span>
                  </v-tooltip>
                  </v-col>

                  <v-col class="pb-2">
                  <v-tooltip bottom>
                  <template v-slot:activator="{on}">
                  <v-btn fab elevation="1" v-on="on">
                    <v-icon large>mdi-water-percent</v-icon>
                  </v-btn>
                  </template>
                  <span>Humidity</span>
                  </v-tooltip>
                  </v-col>

                  <v-col class="pb-2">
                  <v-tooltip bottom>
                  <template v-slot:activator="{on}">
                  <v-btn fab elevation="1" v-on="on">
                    <v-icon large>mdi-gauge</v-icon>
                  </v-btn>
                  </template>
                  <span>Pressure</span>
                  </v-tooltip>
                  </v-col>

                  <v-col class="pb-2" >
                  <v-tooltip bottom>
                  <template v-slot:activator="{on}">
                  <v-btn fab elevation="1" v-on="on">
                    <v-icon large>mdi-cloud</v-icon>
                  </v-btn>
                  </template>
                  <span>Clouds</span>
                  </v-tooltip>
                  </v-col>
                  <!--/v-row-->
                </v-btn-toggle>
          <!--/v-row-->
        </v-card-text>
      </v-card>
    </v-row>
    <!--graph-->
    <v-container fluid v-if="this.$weather.length != 0">
    <v-row align="start" align-content="start" dense>
    <v-col cols="11">
    <line-chart
      :data=this.getChartData()
      xtitle="Time"
      :ytitle=this.convertOption()
    ></line-chart>
    </v-col>
    
    <!--graph options-->
    <v-col cols="1" class="hidden-md-and-down">
      <v-card
        elevation="0"
        >
          <v-btn-toggle v-model="options" >
            <v-col cols="1" class="pl-12">
            <v-row class="pb-2">
            <v-tooltip left>
            <template v-slot:activator="{on}">
            <v-btn fab elevation="1" v-on="on">
              <v-icon light large>mdi-thermometer-low</v-icon>
            </v-btn>
            </template>
            <span>Temperature</span>
            </v-tooltip>
            </v-row>

            <v-row class="pb-2">
            <v-tooltip left>
            <template v-slot:activator="{on}">
            <v-btn fab elevation="1" v-on="on">
              <v-icon large>mdi-water-percent</v-icon>
            </v-btn>
            </template>
            <span>Humidity</span>
            </v-tooltip>
            </v-row>

            <v-row class="pb-2">
            <v-tooltip left>
            <template v-slot:activator="{on}">
            <v-btn fab elevation="1" v-on="on">
              <v-icon large>mdi-gauge</v-icon>
            </v-btn>
            </template>
            <span>Pressure</span>
            </v-tooltip>
            </v-row>

            <v-row class="pb-2" >
            <v-tooltip left>
            <template v-slot:activator="{on}">
            <v-btn fab elevation="1" v-on="on">
              <v-icon large>mdi-cloud</v-icon>
            </v-btn>
            </template>
            <span>Clouds</span>
            </v-tooltip>
            </v-row>
            </v-col>
          </v-btn-toggle>
      </v-card>
    </v-col>
    </v-row>
    
    </v-container>

    <!--v-row justify="center" lg="2"-->
    <v-dialog v-model="details" max-width="400">
      <v-carousel
      v-model="detailNum"
      hide-delimiters 
      light 
      :continuous="false">
        <v-carousel-item 
        v-for="(slide, i) in this.hourlyList"
        :key="i">
        <v-sheet height="100%" tile>
          <!--v-row -->
              <v-card
                class="mx-auto"
                max-width="300"
                elevation="0" >
                <v-row justify="center">
                <v-list-item dense>
                  <v-list-item-content>
                    <v-col cols=12>
                    <v-list-item-title class="display-2 text-center" >{{slide.city}}</v-list-item-title>
                    <v-list-item-subtitle class="title text-center" >{{slide.dt}}</v-list-item-subtitle>
                    <v-list-item-subtitle class="title text-center" >Feels like {{slide.feels_like}}&deg;C, {{slide.description}}</v-list-item-subtitle>
                    </v-col>
                 </v-list-item-content>
                </v-list-item>
                </v-row>
                <v-row justify="center">
                  <!--v-col-->
                      <v-col cols=6>
                      <v-card-text class="display-2">
                        <!--v-row rows="2"-->
                            {{slide.temp}}&deg;C
                        <!--/v-row-->
                      </v-card-text>
                      </v-col>
                      <v-col cols=6>
                      <v-img
                            :src="slide.icon"
                            width="80"
                            height="80"
                            contain
                          ></v-img>
                      </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols=12>
                    <v-list-item dense>
                       <v-list-item-icon>
                    <v-icon medium>mdi-weather-windy</v-icon>
                    </v-list-item-icon>
                        <v-list-item-subtitle>{{slide.wind_speed}} km/h</v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                    <v-icon medium>mdi-cloud</v-icon>
                        </v-list-item-icon>
                    <v-list-item-subtitle>{{slide.clouds}}%</v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                    <v-icon medium>mdi-water-percent</v-icon>
                        </v-list-item-icon>
                    <v-list-item-subtitle>{{slide.humidity}}%</v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                    <v-icon medium>mdi-gauge</v-icon>
                        </v-list-item-icon>
                    <v-list-item-subtitle>{{slide.pressure}} hPa</v-list-item-subtitle>
                    </v-list-item>
                    </v-col>
                    </v-row>
                </v-card>
          <!--/v-row-->
        </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </v-dialog>
    <!--/v-row-->
    </v-content>

 </v-app>
</template>

<script>

import names from '../static/cities.json';
import longLat from '../static/apidata.json';

export default {
  name: 'App',
  data() {
    return {
      headers: [
        {text: 'City', value: 'city'},
        {text: 'Time of measurement', value: 'time'},
        {text: 'Current temperature (C°)', value: 'currTemp'},
        {text: 'Feels like (C°)', value: 'feelsLike'},
        {text: 'Minimum temperature (C°)', value: 'minTemp'},
        {text: 'Maximum temperature (C°)', value: 'maxTemp'},
        {text: 'Humidity (%)', value: "humidity"},
        {text: 'Pressure (hPa)', value: "pressure"},
        {text: 'Clouds (%)', value: "clouds"},
        {text: 'Remove', value: "remove"},
        {text: 'Details', value: "details"}
      ],
      selectedDay: 0,
      page: 1,
      itemsPerPage: 4,
      pageCount: 0,
      selectedCities: [], //selected from table
      dialog: false,
      addedCity: '',
      nameCity: [],
      infoCities: [],
      error: false, //snackbar
      message: '', //snackbar
      options: undefined,
      details: false,
      hourlyList: [],
      detailNum: 0

    }
  },
  mounted() {
      this.nameCity = names;
      this.infoCities = longLat;
  },
  methods: {
    parseData: function() {
      var data = [];
      
      this.$weather.forEach(el => {
        var city = {};
        if (this.selectedDay == 0) {
          city = {
            city: el.cityName,
            time: this.convertDate(el.current.dt),
            currTemp: Math.round(el.current.temp),
            feelsLike: Math.round(el.current.feels_like),
            minTemp: Math.round(el.daily[0].temp.min),
            maxTemp: Math.round(el.daily[0].temp.max),
            humidity: el.current.humidity,
            pressure: el.current.pressure,
            clouds: el.current.clouds }
         } else {
          city = {
            city: el.cityName,
            time: this.convertDate(el.daily[this.selectedDay].dt),
            currTemp: Math.round(el.daily[this.selectedDay].temp.day),
            feelsLike: Math.round(el.daily[this.selectedDay].feels_like.day),
            minTemp: Math.round(el.daily[this.selectedDay].temp.min),
            maxTemp: Math.round(el.daily[this.selectedDay].temp.max),
            humidity: el.daily[this.selectedDay].humidity,
            pressure: el.daily[this.selectedDay].pressure,
            clouds: el.daily[this.selectedDay].clouds }

          }
          data.push(city);
        }
      );
      return data;
  },
  hourlyDetails: function(item) {
    this.details=true;
    this.detailNum = 0;
    var data = [];
    if(this.$weather.length == 0) {
      return data;
    }
    this.$weather.forEach(el => {
        if (el.cityName == item.city) {
          var hourly = el.hourly;
          hourly.forEach(h => {
            var desc = h.weather[0].description;
            var info = {
                city: item.city,
                dt: this.convertDate(h.dt),
                temp: Math.round(h.temp),
                feels_like: Math.round(h.feels_like),
                humidity: h.humidity,
                wind_speed: Math.round(h.wind_speed),
                pressure: h.pressure,
                clouds: h.clouds,
                description: desc,
                icon: this.getWeatherImage(desc, h.dt)
            };
            console.log(info.icon)
            data.push(info);
          });
        }
    })
    this.hourlyList = data;
  },
  getWeatherImage: function(item, dt) {
    //trebace time
      var date = new Date(dt*1000);
      var time = date.getHours();
      if (+time < 21 && +time > 5) {
        if (item.includes('clear'))
        return '/weather-icons/day-clear.png'; //only sun
        else if (item.includes('few clouds')) 
          return '/weather-icons/day-few-clouds.png'; //sun and clouds
        else if (item.includes('clouds'))
          return '/weather-icons/clouds.png'; //only clouds
        else if (item.includes('storm'))
          return '/weather-icons/day-storm.png';
        else if (item.includes('snow'))
          return '/weather-icons/day-snow.png';
        else if (item.includes('mist'))
          return '/weather-icons/fog.png';
        else if (item.includes('rain'))
          return '/weather-icons/day-rain.png';
        else if (item.includes('drizzle'))
          return '/weather-icons/day-drizzle.png'; //isto kisa
        else if (item.includes('fog'))
          return '/weather-icons/fog.png';
      } else {
        if (item.includes('clear'))
        return '/weather-icons/night-clear.png'; //only sun
        else if (item.includes('few clouds')) 
          return '/weather-icons/night-few-clouds.png'; //sun and clouds
        else if (item.includes('clouds'))
          return '/weather-icons/clouds.png';
        else if (item.includes('storm'))
          return '/weather-icons/night-storm.png';
        else if (item.includes('snow'))
          return '/weather-icons/night-snow.png';
        else if (item.includes('mist'))
          return '/weather-icons/fog.png';
        else if (item.includes('rain'))
          return '/weather-icons/night-rain.png';
        else if (item.includes('drizzle'))
          return '/weather-icons/night-drizzle.png'; //isto kisa
        else if (item.includes('fog'))
          return '/weather-icons/fog.png';

      }
      return '';
  },

  getChartData: function() {
    var data = []
    if (this.options == undefined)
      return data;
    this.selectedCities.forEach(el => {
      var hourly = {
        name: el.city,
        data : this.parseHourly(el.city)
      }
      data.push(hourly);
    })
    return data;
  },
  

  addCities: function() {
    this.show = true;
    //check if already exists in table
    if(this.addedCity == '') {
      this.error = true;
      this.snackbar = true;
      this.message = "Please fill in the field!";
      return;
    }

    
    this.$weather.forEach(c2 => {
        if (this.addedCity == c2.cityName) {
          this.error = true;
          this.snackbar = true;
          this.message = this.addedCity + " is already chosen!";
          return;
        }
    });
    
    var responses = [];
    var requests = [];
    this.lon = this.infoCities[this.addedCity].lon.toFixed(2);
    this.lat = this.infoCities[this.addedCity].lat.toFixed(2);
    var apiURL = 'http://api.openweathermap.org/data/2.5/onecall?lat=' + this.lat + '&lon=' + this.lon + '&units=metric&appid=1a6d58d2c110994d50b4ac604eb6c624';
    requests.push(
      fetch(apiURL)
      .then(res => {return res.json();})
      .then(res => {
        res.cityName = this.addedCity;
        responses.push(res);
      })
      .catch(err => {this.error=true; console.log(err); return;})
    );
      Promise.all(requests).then(() => {
        if(!this.error) {
          responses.forEach(r => {
            this.$weather.push(r);
          })
          this.snackbar = false;
          this.addedCity = '';
          this.dialog = false;
        } else {
          this.snackbar = true;
          this.dialog = true;
          this.addedCity = '';
        }
      })


  },
  parseHourly: function(cityName) {
    var result = {};
    var sel = this.getOption();
    this.$weather.forEach(el => {
      if(el.cityName == cityName) {
        var hourly = el.hourly;
        hourly.forEach(el => {
          var date = this.convertDateForChart(el.dt);
          var value = el[sel];
          result[date] = value;
        });
      }
    });
    return result;
  },
  getOption: function() {
    if (this.options == 0)
      return "temp";
    else if (this.options == 1)
      return "humidity";
    else if (this.options == 2)
      return "pressure";
    else if (this.options == 3)
      return "clouds";
    return undefined;
  },
  convertOption: function() {
    if (this.options == 0)
      return "Temperature (C°)";
    else if (this.options == 1)
      return "Humidity (%)";
    else if (this.options == 2)
      return "Pressure (hPa)";
    else if (this.options == 3)
      return "Clouds (%)";
    return "";
  },
  convertDate : function(d) {
    var date = new Date(d * 1000);
    return date.toDateString() + " " + date.toTimeString().split("GMT")[0];
  },
  convertBigDate : function(d) {
    var date = new Date(d * 1000);
    return date.toDateString();
  },
  convertISOYear: function(d) {
    //timezones?
    var date = new Date(d * 1000);
    var res = date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate();
    return res;
  },
  convertTime: function(d) {
    var date = new Date(d * 1000);
    var time = date.toTimeString().split("GMT");
    var res = time[0] + time[1].split(' ')[0];
    return res;
  },
  convertDateForChart: function(d) {
    var res = this.convertISOYear(d) + ' ' + this.convertTime(d);
    console.log(res); 
    return res;
  },
  getBigDate: function() {
    var elements = this.$weather[0].daily;
    var dates = []
    for(var i = 0; i <= this.$days; i++) {
      var date = this.convertBigDate(elements[i].dt);
      dates.push(date);
    }
    return dates;
  },
  deleteItem: function(item) {
      var i = 0;
      this.selectedCities.forEach(elem => {
        if (elem.cityName == elem) {
          i = this.selectedCities.indexOf(elem);
        }
      });
    this.$weather.forEach(elem => {
      if(elem.cityName == item.city) {
        var index = this.$weather.indexOf(elem);
        confirm('Are you sure you want to delete this city?') &&
        this.$weather.splice(index, 1) &&
        this.selectedCities.splice(i, 1);
        return;
        }
      })
    },
  clearSelectedParent: function() {
    this.selectedCities = [];
  }
}
}

</script>

<style>


div.v-overlay__content {
  height: 100%;
  width: 100%;
}

.center_img {
    text-align: center;
    padding-top: 100px;
    display: inline-block;
}

.center_group {
  text-align: center;
}

#x-button {
    position: absolute;
    top: 10px;
    right: 10px;
}


</style>
