<template>

<v-overlay :value="this.$overlay" opacity="0.6" dark="false" >
                      
  <v-btn
    id="x-button"
    icon
    v-on:click=overlayOff()
  >
    <v-icon>mdi-close</v-icon>
  </v-btn>

  <v-snackbar
    v-model="error"
    :timeout="timeout"
    color="error"
    top=true>
    {{message}}
    <v-btn
      color="white"
      text
      @click="snackbar=false"> Close
    </v-btn>
  </v-snackbar>

  <div class="center_group">
    <div id="input_el">
        <v-img
            class="center_img"
            src="../../static/white_logo.png"
            width="200"
            height="200"
      ></v-img>
      <p class="display-1" id="welcome">Welcome to weather forecast!</p>
        <v-autocomplete
          v-model="inputCities"
          :items="nameCities"
          label="Enter cities"
          multiple
          chips
          deletable-chips= true
          clearable= true
          solo
          extended= true
          allow-overflow= false
          prepend-icon="mdi-earth"
        ></v-autocomplete>

        <v-autocomplete
          v-model="inputDays"
          :items="days"
          label="Enter number of days"
          clearable= true
          solo
          chips
          extended= true
          allow-overflow= false
          prepend-icon="mdi-calendar"
          ></v-autocomplete>
          <v-btn 
          class="ma-5"
          color="success"
          v-on:click="getWeather()">
          <v-icon left>mdi-magnify</v-icon>
          Get weather info</v-btn>
    </div>
    </div>
  </v-overlay>
</template>

<script>

import names from '../../static/cities.json'
import longLat from '../../static/apidata.json'

export default {
  name: 'Overlay',
  data() {
    return {
      //overlay: true,
      error: false,
      message: '',
      timeout: 3000,
      infoCities: {},
      nameCities: [],
      inputCities: [],
      inputDays: [],
      days: [
          'Today',
          'Tomorrow',
          'Next two days',
          'Next three days',
          'Next four days',
          'Next five days',
          'Next six days',
          'This week'
        ],
      
    }
  },
  methods: {
    getWeather: function() {
      if(this.inputDays.length == 0 && this.inputCities.length == 0) {
        this.error = true;
        this.snackbar = true;
        this.message = 'Please fill in the fields!'
        return;
      }

      if(this.inputCities.length == 0) {
        this.error = true;
        this.snackbar = true;
        this.message = 'Please fill in the cities!';
        return;
      }

      if(this.inputDays.length == 0) {
        this.error = true;
        this.snackbar = true;
        this.message = 'Please fill in the days!'
        return;
      }
      this.snackbar = false;
      this.error = false;
      this.$days = this.convertDays(this.inputDays);
      var responses = [];
      var requests = [];
      this.inputCities.forEach(c => {
        this.lon = this.infoCities[c].lon.toFixed(2);
        this.lat = this.infoCities[c].lat.toFixed(2);
        var apiURL = 'http://api.openweathermap.org/data/2.5/onecall?lat=' + this.lat + '&lon=' + this.lon + '&units=metric&appid=1a6d58d2c110994d50b4ac604eb6c624';
        requests.push(
          fetch(apiURL)
          .then(res => {return res.json();})
          .then(res => {
            res.cityName = c;
            responses.push(res);
          })
          .catch(err => {this.error=true; console.log(err); return;})
        );
      })
      Promise.all(requests).then(() => {
        if(!this.error) {
          this.$weather = responses;
          this.$overlay = false;
          this.snackbar = false;
          this.inputCities = [];
          this.inputDays = [];
          this.$emit('clearSelected');
        } else {
          this.snackbar = true;
        }
      })
    },
    overlayOff: function() {
      this.$overlay = false;
    },
    convertDays: function(day) {
      if (day=='Today')
        return 0;
      if (day=='Tomorrow')
        return 1;
      if (day=='Next two days')
        return 2;
      if (day=='Next three days')
        return 3;
      if (day=='Next four days')
        return 4;
      if (day=='Next five days')
        return 5;
      if (day=='Next six days')
        return 6;
      if (day=='This week')
        return 7;
    }
  },
  mounted() {
      this.nameCities = names;
      this.infoCities = longLat;
  },
  props: {
    overlay: Boolean
  }
}

</script>


<style scoped>


div #input_el {
  padding-top: 90px;
  width: 600px;
  display: inline-block;
}

div #slider {
    width: 800px;
    padding-left: 200px;
}

.center_group {
  text-align: center;
}

.center_img {
    text-align: center;
    padding-top: 100px;
    display: inline-block;
}

#x-button {
    position: absolute;
    top: 10px;
    right: 10px;
}


.column_btn_icon {
    float: left;
    padding: 5px;
    width: 30.4%
}

#get_weather_btn {
    width: 50%;
}

#welcome {
    color: white;
    font-weight: bold;
}

</style>