<template>
   <div>
      <v-toolbar 
        dark
        flat
        color="purple"
      >
        <v-toolbar-title class="title">
          <v-icon large>mdi-weather-partly-snowy-rainy</v-icon>
          Weather Forecast</v-toolbar-title>

        <v-spacer></v-spacer>

      <v-btn class="mx-2" large text @click=overlayOn()>
        <v-icon class="pr-2" large dark>mdi-cloud-search</v-icon>
        New weather forecast
      </v-btn> 

    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'Toolbar',
  methods: {
    overlayOn: function() {
      this.$overlay=true;
      
    }
  }
}
</script>